<div class="htd-about-wrap">
  <h1>关于我</h1>
  <p><a href="https://www.github.com/chenc" target="_blank" rel="noreferrer nofollow noopener">chenc</a></p>
  <p><a href="javascript:void(0)">double_cl@163.com</a></p>
  <p>前端</p>
  <p>喜欢吃🍉</p>
  <p>喜欢篮球</p>
  <p>喜欢钓鱼</p>
  <p class="htd-teach">ts, nodejs, angular, reactjs, nestjs, eggjs, flutter</p>
  <h2>关于 Hello_Redis</h2>
  <p>一个简单 web 端redis 管理工具, 目前只支持 string 一种数据类型</p>
  <p>前端基于 Angular Ant Design of Angular</p>
  <p>后端基于 nestjs ioredis</p>
  <p><a href="https://github.com/chenc041/hello-redis" target="_blank" rel='noreferrer nofollow noopener'>Hello_Redis</a></p>
  <p><a href="https://github.com/chenc041/hello-redis-server" target="_blank" rel="noreferrer nofollow noopener">Hello_Redis_server</a></p>
</div>
