<div class="htd-about-wrap">
  <h1>关于我</h1>
  <p><a href="https://www.github.com/chenc041" target="_blank" rel="noreferrer nofollow noopener">chenc</a></p>
  <p><a href="mailto:double_cl@163.com" target="_blank" rel="noreferrer nofollow noopener">double_cl@163.com</a></p>
  <p>前端</p>
  <p>喜欢吃🍉</p>
  <p>喜欢篮球</p>
  <p>喜欢钓鱼</p>
  <p class="htd-teach">ts, nodejs, angular, reactjs, nestjs, eggjs, flutter</p>
  <h2>关于 Redis_Web_Client</h2>
  <p>一个简单 web 端redis 管理工具, 目前只支持 string 一种数据类型</p>
  <p>前端基于 Angular ng-zorro-antd</p>
  <p>后端基于 Nestjs ioredis</p>
  <p>
    <a href="https://github.com/chenc041/redis-web-client" target="_blank" rel="noreferrer nofollow noopener"
      >redis-web-client</a
    >
  </p>
  <p>
    <a href="https://github.com/chenc041/redis-server" target="_blank" rel="noreferrer nofollow noopener"
      >redis-server</a
    >
  </p>
</div>
