<nz-layout>
  <nz-sider nzWidth="300px">
    <div class="redis-key-header">
      <input nz-input placeholder="search key" class="searchInput" (change)="handleSearchValue($event)" />
      <a nz-button nzShape="circle" nzType="primary">
        <i nz-icon [nzType]="'plus'" (click)="handleOperator('新增', 'add')"></i>
      </a>
    </div>
    <nz-list class="list-item-wrap" [nzDataSource]="keys" [nzRenderItem]="defaultItem">
      <ng-template #defaultItem let-item>
        <nz-list-item (click)="handleItem(item)">
          <ng-template [ngIf]="item.length >= 8">
            <span class="redis-key-item" nz-tooltip nzTooltipPlacement="top" nzTooltipTitle="{{ item }}">
              <a>
                <i nz-icon [nzType]="'key'"></i>
                {{ item | shortText }}
              </a>
            </span>
          </ng-template>
          <ng-template [ngIf]="item.length < 8">
            <span class="redis-key-item">
              <a>
                <i nz-icon [nzType]="'key'"></i>
                {{ item | shortText }}
              </a>
            </span>
          </ng-template>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-name">Redis_Web_Client</div>
      <div class="logout-btn">
        <a
          nz-popconfirm
          nzPopconfirmTitle="确定要登出吗?"
          nzPopconfirmPlacement="leftBottom"
          (nzOnConfirm)="handleLogout()"
        >
          {{ userName }}
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-dropdown [nzDropdownMenu]="menu">DB: {{ selectedDb }}</a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item *ngFor="let db of dbs; index as indexDb" (click)="handleSwitchDb(indexDb)">
              数据库: {{ indexDb }}
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <div class="content-header">
        <div class="key-name key-operate">
          <span class="key-value">key: </span>
          <input nz-input placeholder="key name" [(ngModel)]="redisKey" />
        </div>
        <div class="key-operate-wrap">
          <div class="key-ttl key-operate">
            <button nz-button nzType="primary">{{ redisTtl }}</button>
          </div>
          <div class="key-reload key-operate">
            <button nz-button nzType="primary" (click)="handleRefresh(redisKey)">刷新</button>
          </div>
          <div class="key-rename key-operate">
            <button nz-button nzType="primary" (click)="handleOperator('重命名', 'rename')">重命名</button>
          </div>
          <div class="key-set-ttl key-operate">
            <button nz-button nzType="primary" (click)="handleOperator('重置 TTL', 'resetTtl')">重置TTL</button>
          </div>
          <div class="key-delete key-operate">
            <button
              nz-button
              nzDanger
              nz-popconfirm
              nzPopconfirmTitle="确定要删除这个key吗?"
              nzPopconfirmPlacement="leftTop"
              (nzOnConfirm)="handleDelete(redisKey)"
            >
              删除
            </button>
          </div>
        </div>
      </div>
      <div class="content">
        {{ content }}
      </div>
      <nz-modal
        [(nzVisible)]="isVisible"
        nzTitle="{{ modalTitle }}"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
      >
        <ng-container *nzModalContent>
          <div *ngIf="operatorType === 'rename'">
            <div style="margin-bottom: 5px">Key 名称</div>
            <input nz-input placeholder="key 名称" [(ngModel)]="newKey" />
          </div>
          <div *ngIf="operatorType === 'resetTtl'">
            <div style="margin-bottom: 5px">过期时间</div>
            <input nz-input placeholder="key 过期时间" [(ngModel)]="expireTime" />
          </div>
          <div *ngIf="operatorType === 'add'">
            <div style="margin-bottom: 5px">Key 名称</div>
            <input nz-input placeholder="key 名称" [(ngModel)]="newKey" style="margin-bottom: 30px" />
            <div style="margin-bottom: 5px">Key 值</div>
            <input nz-input placeholder="key 值" [(ngModel)]="redisValue" style="margin-bottom: 30px" />
            <div style="margin-bottom: 5px">过期时间</div>
            <input nz-input placeholder="key 过期时间" [(ngModel)]="expireTime" />
          </div>
        </ng-container>
      </nz-modal>
    </nz-content>
  </nz-layout>
</nz-layout>
