@import '~ng-zorro-antd/style/entry.less'; /* 引入基本样式 */
@import '~ng-zorro-antd/button/style/entry.less'; /* 引入组件样式 */
@import '~ng-zorro-antd/list/style/entry.less'; /* 引入组件样式 */

// layout 基础样式
:host {
  text-align: center;
}

nz-header {
  background: #ffffff;
  border-bottom: 1px solid #eee;
}

nz-sider {
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
}

nz-content {
  min-height: 120px;
  background-color: #fff;
}

nz-layout {
  margin-bottom: 48px;
}

nz-layout:last-child {
  margin: 0;
}

// 自定义样式

.redis-key-header {
  top: 0;
  width: 300px;
  height: 64px;
  z-index: 10;
  position: fixed;
  color: #333333;
  text-align: center;
  line-height: 64px;
  background-color: #fff;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.list-item-wrap {
  margin-top: 64px;
  text-align: center;
}
nz-sider {
  border-right: 1px solid #eee;
}
