<nz-layout>
  <nz-sider nzWidth="300px">
    <div class="redis-key-header" (click)="handleDemo()">
      header
    </div>
    <nz-list ngClass='list-item-wrap' [nzDataSource]="keys" [nzRenderItem]="defaultItem">
      <ng-template #defaultItem let-item>
        <nz-list-item (click)="handleItem(item)">
          <span>{{ item }}</span>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div style="text-align: right;">
        <a nz-dropdown [nzDropdownMenu]="menu">
          操作
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>登出</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>